@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
:root {
  --black: #000;
  --gradient-orange: linear-gradient(
    to bottom,
    rgb(168, 76, 0),
    rgb(255, 239, 169)
  );
}
body {
  background: linear-gradient(
    to left bottom,
    rgb(168, 76, 0),
    rgb(255, 239, 169)
  );
  font-family: "Outfit", Verdana, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  background: var(--gradient-orange);
  padding: 0 13px;
  margin: 0 10px;
  color: var(--black);
}
h1 {
  font-size: 30px;
  height: 50px;
  background: var(--gradient-orange);
  text-align: center;
  margin: 15px 0;
  padding: 10px;
  color: var(--black);
}
.about {
  padding: 20px;
  padding: 0 65px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 6img px;
  font-stretch: expanded;
  font-size: large;
}
h2 {
  color: var(--black);
  background: var(--gradient-orange);
  font-size: 30px;
  height: 50px;
  text-align: center;
  margin: 20px 0;
}
.wrapper-box {
  background: var(--gradient-orange);
  display: flex;
  padding: 0 13px;
  margin: 0 10px;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  width: 350px;
}
.paragraph-box {
  width: 400px;
  padding: 20px 30px;
  margin: 15px 10px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.images1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}
.images1 img {
  width: 350px;
  height: 350px;
  filter: grayscale();
  box-shadow: 5px 5px 10px;
  border-radius: 19px;
  transition: all 0.25s;
}
.images1 img:hover {
  transform: scale(1.05);
  filter: none;
}
.images2 img {
  width: 250px;
  height: 350px;
  margin-top: 15px;
  margin-right: 40px;
  filter: grayscale();
  box-shadow: 5px 5px 10px;
  border-radius: 19px;
  transition: all 250ms;
}
.images2 img:hover {
  transform: scale(1.05);
  filter: none;
}
@media only screen and (max-width: 950px) {
  .images1 img,
  .images2 img {
    margin-top: 20px;
    filter: none;
  }
  .about {
    padding: 0 15px;
  }
  .images2 img {
    margin: 15px 70px;
  }
  .images2 {
    display: flex;
    flex-direction: column;
  }
}
